USE [master]
GO
/****** Object:  Database [HOSPITAL]    Script Date: 1/12/2024 12:43:27 ******/
CREATE DATABASE [HOSPITAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOSPITAL_DAT', FILENAME = N'C:\HOSPITAL\HOSPITAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOSPITAL_log', FILENAME = N'C:\HOSPITAL\HOSPITAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOSPITAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOSPITAL]
GO
/****** Object:  Table [dbo].[ESPECIALIDADES]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPECIALIDADES](
	[ID_ESPECIALIDAD_E] [int] NOT NULL,
	[NOMBRE_E] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ESPECIALIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_ESPECIALIDAD_E] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS_ATENCION]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS_ATENCION](
	[LEGAJO_DOC_HA] [int] NOT NULL,
	[DIA_HA] [varchar](15) NOT NULL,
	[HORA_HA] [time](7) NOT NULL,
	[ESTADO_HA] [bit] NULL,
 CONSTRAINT [PK_HORARIOS_ATENCION] PRIMARY KEY CLUSTERED 
(
	[LEGAJO_DOC_HA] ASC,
	[DIA_HA] ASC,
	[HORA_HA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALIDAD]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALIDAD](
	[ID_LOCALIDAD] [int] NOT NULL,
	[ID_PROVINCIA] [int] NOT NULL,
	[NOMBRE_LOCALIDAD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOCALIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_LOCALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICOS]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICOS](
	[LEGAJO_MEDICO] [int] NOT NULL,
	[ID_USUARIO_MEDICO] [int] NOT NULL,
	[ID_ESPECIALIDAD_MEDICO] [int] NOT NULL,
	[ID_LOCALIDAD_MEDICO] [int] NOT NULL,
	[DNI_MEDICO] [char](8) NOT NULL,
	[NOMBRE_MEDICO] [varchar](30) NOT NULL,
	[APELLIDO_MEDICO] [varchar](30) NOT NULL,
	[SEXO_MEDICO] [varchar](6) NOT NULL,
	[NACIONALIDAD_MEDICO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO_MEDICO] [date] NOT NULL,
	[DIRECCION_MEDICO] [varchar](50) NOT NULL,
	[EMAIL_MEDICO] [varchar](50) NOT NULL,
	[TELEFONO_MEDICO] [char](10) NOT NULL,
 CONSTRAINT [PK_MEDICOS] PRIMARY KEY CLUSTERED 
(
	[LEGAJO_MEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[DNI_PACIENTE] [char](8) NOT NULL,
	[ID_LOCALIDAD_PACIENTE] [int] NOT NULL,
	[NOMBRE_P] [varchar](30) NOT NULL,
	[APELLIDO_P] [varchar](30) NOT NULL,
	[SEXO_P] [varchar](6) NOT NULL,
	[NACIONALIDAD_P] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO_P] [date] NOT NULL,
	[DIRECCION] [varchar](50) NOT NULL,
	[EMAIL_P] [varchar](50) NOT NULL,
	[TELEFONO] [char](10) NOT NULL,
 CONSTRAINT [PK_PACIENTES] PRIMARY KEY CLUSTERED 
(
	[DNI_PACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID_PROVINCIA] [int] NOT NULL,
	[NOMBRE_PROVINCIA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROVINCIAS] PRIMARY KEY CLUSTERED 
(
	[ID_PROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS](
	[COD_TURNO_TUR] [varchar](10) NOT NULL,
	[DNI_PACIENTE_TUR] [char](8) NOT NULL,
	[LEGAJO_MED_TUR] [int] NOT NULL,
	[DIA_TURNOS] [varchar](15) NOT NULL,
	[HORA_TURNOS] [time](7) NOT NULL,
	[ESPECIALIDAD] [varchar](50) NOT NULL,
	[ESTADO] [varchar](10) NULL,
	[Observacion] [text] NULL,
 CONSTRAINT [PK_TURNOS] PRIMARY KEY CLUSTERED 
(
	[COD_TURNO_TUR] ASC,
	[DNI_PACIENTE_TUR] ASC,
	[LEGAJO_MED_TUR] ASC,
	[DIA_TURNOS] ASC,
	[HORA_TURNOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE_USUARIO] [varchar](50) NOT NULL,
	[CONTRASEÑA] [varchar](50) NOT NULL,
	[TIPO_USUARIO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ESPECIALIDADES] ([ID_ESPECIALIDAD_E], [NOMBRE_E]) VALUES (1, N'Cardiología')
INSERT [dbo].[ESPECIALIDADES] ([ID_ESPECIALIDAD_E], [NOMBRE_E]) VALUES (2, N'Dermatología')
INSERT [dbo].[ESPECIALIDADES] ([ID_ESPECIALIDAD_E], [NOMBRE_E]) VALUES (3, N'Neurología')
GO
INSERT [dbo].[HORARIOS_ATENCION] ([LEGAJO_DOC_HA], [DIA_HA], [HORA_HA], [ESTADO_HA]) VALUES (21403, N'Domingo', CAST(N'12:00:00' AS Time), 0)
INSERT [dbo].[HORARIOS_ATENCION] ([LEGAJO_DOC_HA], [DIA_HA], [HORA_HA], [ESTADO_HA]) VALUES (21403, N'Lunes', CAST(N'06:00:00' AS Time), 0)
INSERT [dbo].[HORARIOS_ATENCION] ([LEGAJO_DOC_HA], [DIA_HA], [HORA_HA], [ESTADO_HA]) VALUES (21403, N'Lunes', CAST(N'09:00:00' AS Time), 0)
GO
INSERT [dbo].[LOCALIDAD] ([ID_LOCALIDAD], [ID_PROVINCIA], [NOMBRE_LOCALIDAD]) VALUES (1, 1, N'La Plata')
INSERT [dbo].[LOCALIDAD] ([ID_LOCALIDAD], [ID_PROVINCIA], [NOMBRE_LOCALIDAD]) VALUES (2, 1, N'Mar del Plata')
INSERT [dbo].[LOCALIDAD] ([ID_LOCALIDAD], [ID_PROVINCIA], [NOMBRE_LOCALIDAD]) VALUES (3, 1, N'Bahía Blanca')
GO
INSERT [dbo].[MEDICOS] ([LEGAJO_MEDICO], [ID_USUARIO_MEDICO], [ID_ESPECIALIDAD_MEDICO], [ID_LOCALIDAD_MEDICO], [DNI_MEDICO], [NOMBRE_MEDICO], [APELLIDO_MEDICO], [SEXO_MEDICO], [NACIONALIDAD_MEDICO], [FECHA_NACIMIENTO_MEDICO], [DIRECCION_MEDICO], [EMAIL_MEDICO], [TELEFONO_MEDICO]) VALUES (21403, 1, 2, 3, N'45657780', N'Juan', N'Muñoz', N'0', N'1', CAST(N'2024-11-12' AS Date), N'Lynch 7880', N'jcmunozsalas@gmail.com', N'1120186454')
INSERT [dbo].[MEDICOS] ([LEGAJO_MEDICO], [ID_USUARIO_MEDICO], [ID_ESPECIALIDAD_MEDICO], [ID_LOCALIDAD_MEDICO], [DNI_MEDICO], [NOMBRE_MEDICO], [APELLIDO_MEDICO], [SEXO_MEDICO], [NACIONALIDAD_MEDICO], [FECHA_NACIMIENTO_MEDICO], [DIRECCION_MEDICO], [EMAIL_MEDICO], [TELEFONO_MEDICO]) VALUES (21404, 16, 2, 7, N'45657722', N'Max', N'Verstappen', N'0', N'0', CAST(N'2024-11-12' AS Date), N'Franco 6040', N'Max@gmail.com', N'1140581453')
INSERT [dbo].[MEDICOS] ([LEGAJO_MEDICO], [ID_USUARIO_MEDICO], [ID_ESPECIALIDAD_MEDICO], [ID_LOCALIDAD_MEDICO], [DNI_MEDICO], [NOMBRE_MEDICO], [APELLIDO_MEDICO], [SEXO_MEDICO], [NACIONALIDAD_MEDICO], [FECHA_NACIMIENTO_MEDICO], [DIRECCION_MEDICO], [EMAIL_MEDICO], [TELEFONO_MEDICO]) VALUES (21434, 3, 5, 3, N'45657790', N'Rocio', N'Saitta', N'1', N'0', CAST(N'2024-03-12' AS Date), N'Franco 6040', N'RocioSaitta@gmail.com', N'1120189234')
GO
INSERT [dbo].[PACIENTES] ([DNI_PACIENTE], [ID_LOCALIDAD_PACIENTE], [NOMBRE_P], [APELLIDO_P], [SEXO_P], [NACIONALIDAD_P], [FECHA_NACIMIENTO_P], [DIRECCION], [EMAIL_P], [TELEFONO]) VALUES (N'67456344', 3, N'Gustavo', N'Mendez', N'Hombre', N'Buenos Aires', CAST(N'2024-10-12' AS Date), N'AV BOEDO 00021', N'Mau@gmail.com', N'0116944995')
GO
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [NOMBRE_PROVINCIA]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [NOMBRE_PROVINCIA]) VALUES (2, N'Córdoba')
INSERT [dbo].[PROVINCIAS] ([ID_PROVINCIA], [NOMBRE_PROVINCIA]) VALUES (3, N'Santa Fe')
GO
INSERT [dbo].[TURNOS] ([COD_TURNO_TUR], [DNI_PACIENTE_TUR], [LEGAJO_MED_TUR], [DIA_TURNOS], [HORA_TURNOS], [ESPECIALIDAD], [ESTADO], [Observacion]) VALUES (N'abc12', N'67456344', 21403, N'Lunes', CAST(N'06:00:00' AS Time), N'2', N'Ausente', N'No vino el salame')
INSERT [dbo].[TURNOS] ([COD_TURNO_TUR], [DNI_PACIENTE_TUR], [LEGAJO_MED_TUR], [DIA_TURNOS], [HORA_TURNOS], [ESPECIALIDAD], [ESTADO], [Observacion]) VALUES (N'abc3', N'67456344', 21503, N'Viernes', CAST(N'13:00:00' AS Time), N'3', N'Pendiente', NULL)
INSERT [dbo].[TURNOS] ([COD_TURNO_TUR], [DNI_PACIENTE_TUR], [LEGAJO_MED_TUR], [DIA_TURNOS], [HORA_TURNOS], [ESPECIALIDAD], [ESTADO], [Observacion]) VALUES (N'abc5', N'67456344', 21434, N'Jueves', CAST(N'09:00:00' AS Time), N'5', N'Pendiente', NULL)
GO
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CONTRASEÑA], [TIPO_USUARIO]) VALUES (1, N'Juanca', N'jc2004', N'Medico')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CONTRASEÑA], [TIPO_USUARIO]) VALUES (2, N'Mau', N'abc', N'Medico')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE_USUARIO], [CONTRASEÑA], [TIPO_USUARIO]) VALUES (3, N'Roo', N'abc', N'Medico')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MEDICOS__0293515A8BECC4A7]    Script Date: 1/12/2024 12:43:28 ******/
ALTER TABLE [dbo].[MEDICOS] ADD UNIQUE NONCLUSTERED 
(
	[DNI_MEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MEDICOS__35C6F3628C9EAA1F]    Script Date: 1/12/2024 12:43:28 ******/
ALTER TABLE [dbo].[MEDICOS] ADD UNIQUE NONCLUSTERED 
(
	[LEGAJO_MEDICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HORARIOS_ATENCION] ADD  DEFAULT ((1)) FOR [ESTADO_HA]
GO
ALTER TABLE [dbo].[TURNOS] ADD  CONSTRAINT [DF_Estado]  DEFAULT ('Pendiente') FOR [ESTADO]
GO
ALTER TABLE [dbo].[TURNOS] ADD  DEFAULT ('Pendiente') FOR [Observacion]
GO
ALTER TABLE [dbo].[HORARIOS_ATENCION]  WITH CHECK ADD  CONSTRAINT [FK_HORARIOS_MEDICOS] FOREIGN KEY([LEGAJO_DOC_HA])
REFERENCES [dbo].[MEDICOS] ([LEGAJO_MEDICO])
GO
ALTER TABLE [dbo].[HORARIOS_ATENCION] CHECK CONSTRAINT [FK_HORARIOS_MEDICOS]
GO
ALTER TABLE [dbo].[LOCALIDAD]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIDAD_PROVINCIAS] FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIAS] ([ID_PROVINCIA])
GO
ALTER TABLE [dbo].[LOCALIDAD] CHECK CONSTRAINT [FK_LOCALIDAD_PROVINCIAS]
GO
ALTER TABLE [dbo].[MEDICOS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOS_ESPECIALIDADES] FOREIGN KEY([ID_ESPECIALIDAD_MEDICO])
REFERENCES [dbo].[ESPECIALIDADES] ([ID_ESPECIALIDAD_E])
GO
ALTER TABLE [dbo].[MEDICOS] CHECK CONSTRAINT [FK_MEDICOS_ESPECIALIDADES]
GO
ALTER TABLE [dbo].[MEDICOS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOS_LOCALIDADES] FOREIGN KEY([ID_LOCALIDAD_MEDICO])
REFERENCES [dbo].[LOCALIDAD] ([ID_LOCALIDAD])
GO
ALTER TABLE [dbo].[MEDICOS] CHECK CONSTRAINT [FK_MEDICOS_LOCALIDADES]
GO
ALTER TABLE [dbo].[MEDICOS]  WITH CHECK ADD  CONSTRAINT [FK_MEDICOS_USUARIO] FOREIGN KEY([ID_USUARIO_MEDICO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[MEDICOS] CHECK CONSTRAINT [FK_MEDICOS_USUARIO]
GO
ALTER TABLE [dbo].[PACIENTES]  WITH CHECK ADD  CONSTRAINT [FK_LOCALIDAD_PACIENTES] FOREIGN KEY([ID_LOCALIDAD_PACIENTE])
REFERENCES [dbo].[LOCALIDAD] ([ID_LOCALIDAD])
GO
ALTER TABLE [dbo].[PACIENTES] CHECK CONSTRAINT [FK_LOCALIDAD_PACIENTES]
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_HORARIOS] FOREIGN KEY([LEGAJO_MED_TUR], [DIA_TURNOS], [HORA_TURNOS])
REFERENCES [dbo].[HORARIOS_ATENCION] ([LEGAJO_DOC_HA], [DIA_HA], [HORA_HA])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_TURNOS_HORARIOS]
GO
ALTER TABLE [dbo].[TURNOS]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_PACIENTES] FOREIGN KEY([DNI_PACIENTE_TUR])
REFERENCES [dbo].[PACIENTES] ([DNI_PACIENTE])
GO
ALTER TABLE [dbo].[TURNOS] CHECK CONSTRAINT [FK_TURNOS_PACIENTES]
GO
/****** Object:  StoredProcedure [dbo].[Sp_ActualizarEstadoMisTurnos]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_ActualizarEstadoMisTurnos]
@ESTADO VARCHAR(15),
@OBSERVACIONES TEXT,
@LEGAJO INT,
@DIA VARCHAR(15),
@HORA TIME, 
@DNIPACIENTE CHAR(8)
AS
UPDATE TURNOS
SET ESTADO = @ESTADO,
Observacion = @OBSERVACIONES
WHERE LEGAJO_MED_TUR = @LEGAJO AND DIA_TURNOS = @DIA AND HORA_TURNOS = @HORA AND DNI_PACIENTE_TUR = @DNIPACIENTE
GO
/****** Object:  StoredProcedure [dbo].[Sp_ActualizarHoraMisTurnos]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_ActualizarHoraMisTurnos]
@LEGAJO INT,
@DIA VARCHAR(15),
@HORA TIME
AS
UPDATE HORARIOS_ATENCION
SET ESTADO_HA = 1
WHERE LEGAJO_DOC_HA = @LEGAJO AND DIA_HA = @DIA AND HORA_HA = @HORA
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMedico]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarMedico]
    @LEGAJO_MEDICO INT,
    @ID_ESPECIALIDAD INT,
    @DNI_MEDICO CHAR(8),
    @NOMBRE_MEDICO VARCHAR(30),
    @APELLIDO_MEDICO VARCHAR(30),
    @FECHA_NACIMIENTO_MEDICO DATE,
    @DIRECCION_MEDICO VARCHAR(50),
    @EMAIL_MEDICO VARCHAR(50),
    @TELEFONO_MEDICO CHAR(10)
AS
BEGIN
    UPDATE MEDICOS
    SET 
        ID_ESPECIALIDAD_MEDICO = @ID_ESPECIALIDAD,
		
        DNI_MEDICO = @DNI_MEDICO,
        NOMBRE_MEDICO = @NOMBRE_MEDICO,
        APELLIDO_MEDICO = @APELLIDO_MEDICO,
  
        FECHA_NACIMIENTO_MEDICO = @FECHA_NACIMIENTO_MEDICO,
        DIRECCION_MEDICO = @DIRECCION_MEDICO,
        EMAIL_MEDICO = @EMAIL_MEDICO,
        TELEFONO_MEDICO = @TELEFONO_MEDICO
    WHERE LEGAJO_MEDICO = @LEGAJO_MEDICO
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarMedicoTotal]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarMedicoTotal]
    @LEGAJO_MEDICO INT,
    @ID_USUARIO_MEDICO INT,
    @ID_ESPECIALIDAD INT,
    @ID_LOCALIDAD_MEDICO INT,
    @DNI_MEDICO CHAR(8),
    @NOMBRE_MEDICO VARCHAR(30),
    @APELLIDO_MEDICO VARCHAR(30),
    @SEXO_MEDICO VARCHAR(6),
    @NACIONALIDAD_MEDICO VARCHAR(50),
    @FECHA_NACIMIENTO_MEDICO DATE,
    @DIRECCION_MEDICO VARCHAR(50),
    @EMAIL_MEDICO VARCHAR(50),
    @TELEFONO_MEDICO CHAR(10)
AS
BEGIN
    UPDATE MEDICOS
    SET 
        ID_USUARIO_MEDICO = @ID_USUARIO_MEDICO,
        ID_ESPECIALIDAD_MEDICO = @ID_ESPECIALIDAD,
        ID_LOCALIDAD_MEDICO = @ID_LOCALIDAD_MEDICO,
        DNI_MEDICO = @DNI_MEDICO,
        NOMBRE_MEDICO = @NOMBRE_MEDICO,
        APELLIDO_MEDICO = @APELLIDO_MEDICO,
        SEXO_MEDICO = @SEXO_MEDICO,
        NACIONALIDAD_MEDICO = @NACIONALIDAD_MEDICO,
        FECHA_NACIMIENTO_MEDICO = @FECHA_NACIMIENTO_MEDICO,
        DIRECCION_MEDICO = @DIRECCION_MEDICO,
        EMAIL_MEDICO = @EMAIL_MEDICO,
        TELEFONO_MEDICO = @TELEFONO_MEDICO
    WHERE LEGAJO_MEDICO = @LEGAJO_MEDICO
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @NOMBRE_USUARIO_ACTUAL VARCHAR(50), -- Nombre del usuario actual
    @NUEVO_NOMBRE_USUARIO VARCHAR(50), -- Nuevo nombre de usuario
    @NUEVA_CONTRASEÑA VARCHAR(50) -- Nueva contraseña
AS
BEGIN
    -- Actualizar el registro del usuario que coincide con el nombre actual
    UPDATE USUARIO
    SET 
        NOMBRE_USUARIO = @NUEVO_NOMBRE_USUARIO,
        CONTRASEÑA = @NUEVA_CONTRASEÑA
    WHERE 
        NOMBRE_USUARIO = @NOMBRE_USUARIO_ACTUAL;
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_AgregarHorarios]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_AgregarHorarios]
@LEGAJO INT, 
@DIA VARCHAR(15),
@Hora TIME
AS
INSERT INTO HORARIOS_ATENCION(LEGAJO_DOC_HA, DIA_HA, HORA_HA)
SELECT @LEGAJO, @DIA, @HORA
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarHORARIOS]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarHORARIOS]
    @LEGAJO INT
AS
BEGIN
    DELETE FROM HORARIOS_ATENCION
    WHERE LEGAJO_DOC_HA = @LEGAJO
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarTURNO]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarTURNO]
    @LEGAJO_MED_TUR INT
AS
BEGIN
    DELETE FROM Turnos
    WHERE LEGAJO_MED_TUR = @LEGAJO_MED_TUR;
END;
GO
/****** Object:  StoredProcedure [dbo].[spActualizarHORARIO]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarHORARIO]
    @LEGAJO_DOC_HA INT,
    @DIA_HA VARCHAR(15),
    @HORA_HA TIME(7)
AS
BEGIN
    -- Actualiza el estado a 0
    UPDATE HORARIOS_ATENCION
    SET ESTADO_HA = 0
    WHERE LEGAJO_DOC_HA = @LEGAJO_DOC_HA AND DIA_HA = @DIA_HA AND HORA_HA = @HORA_HA;
END;
GO
/****** Object:  StoredProcedure [dbo].[spActualizarPACIENTE]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarPACIENTE]
@DNI_PACIENTE char(8),
@ID_LOCALIDAD_PACIENTE int,
@NOMBRE_P varchar(30),
@APELLIDO_P varchar(30),
@SEXO_P varchar(6),
@NACIONALIDAD_P varchar(50),
@FECHA_NACIMIENTO_P date,
@DIRECCION varchar(50),
@EMAIL_P varchar(50),
@TELEFONO char(10)

AS 
BEGIN
	 UPDATE PACIENTES
	 SET
	 ID_LOCALIDAD_PACIENTE = @ID_LOCALIDAD_PACIENTE,
	 NOMBRE_P = @NOMBRE_P,
	 APELLIDO_P = @APELLIDO_P,
	 SEXO_P = @SEXO_P,
	 NACIONALIDAD_P = @NACIONALIDAD_P,
	 FECHA_NACIMIENTO_P = @FECHA_NACIMIENTO_P,
	 DIRECCION = @DIRECCION,
	 EMAIL_P = @EMAIL_P,
	 TELEFONO = @TELEFONO
	WHERE DNI_PACIENTE = @DNI_PACIENTE
END

GO
/****** Object:  StoredProcedure [dbo].[spAgregarMEDICO]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[spAgregarMEDICO]
 (
 @LEGAJO_MEDICO INT,
 @ID_USUARIO_MEDICO INT,
 @ID_ESPECIALIDAD INT,
 @ID_LOCALIDAD_MEDICO INT,
 @DNI_MEDICO CHAR(8),
 @NOMBRE_MEDICO VARCHAR(30),
 @APELLIDO_MEDICO VARCHAR(30),
 @SEXO_MEDICO VARCHAR(6),
 @NACIONALIDAD_MEDICO VARCHAR(50),
 @FECHA_NACIMIENTO_MEDICO DATE,
 @DIRECCION_MEDICO VARCHAR(50),
 @EMAIL_MEDICO VARCHAR(50),
 @TELEFONO_MEDICO CHAR(10)
 )
 AS
 INSERT INTO MEDICOS
 (LEGAJO_MEDICO,ID_USUARIO_MEDICO,ID_ESPECIALIDAD_MEDICO,ID_LOCALIDAD_MEDICO,
 DNI_MEDICO,NOMBRE_MEDICO,APELLIDO_MEDICO,SEXO_MEDICO,NACIONALIDAD_MEDICO,FECHA_NACIMIENTO_MEDICO,DIRECCION_MEDICO,EMAIL_MEDICO,TELEFONO_MEDICO) 
 VALUES( @LEGAJO_MEDICO, @ID_USUARIO_MEDICO, @ID_ESPECIALIDAD, @ID_LOCALIDAD_MEDICO,
 @DNI_MEDICO, @NOMBRE_MEDICO, @APELLIDO_MEDICO, @SEXO_MEDICO, @NACIONALIDAD_MEDICO, @FECHA_NACIMIENTO_MEDICO, @DIRECCION_MEDICO, @EMAIL_MEDICO, @TELEFONO_MEDICO)
 RETURN
GO
/****** Object:  StoredProcedure [dbo].[spAgregarPACIENTE]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarPACIENTE]
(
@DNI_PACIENTE char(8),
@NOMBRE_P varchar(30),
@APELLIDO_P varchar(30),
@SEXO_P varchar(6),
@NACIONALIDAD_P varchar(50),
@FECHA_NACIMIENTO_P date,
@DIRECCION varchar(50),
@ID_LOCALIDAD_PACIENTE int,
@EMAIL_P varchar(50),
@TELEFONO char(10)
)
AS
INSERT INTO PACIENTES
(DNI_PACIENTE, NOMBRE_P, APELLIDO_P, SEXO_P, NACIONALIDAD_P, FECHA_NACIMIENTO_P, DIRECCION, ID_LOCALIDAD_PACIENTE, EMAIL_P, TELEFONO)
VALUES (@DNI_PACIENTE, @NOMBRE_P, @APELLIDO_P, @SEXO_P, @NACIONALIDAD_P, @FECHA_NACIMIENTO_P, @DIRECCION, @ID_LOCALIDAD_PACIENTE, @EMAIL_P, @TELEFONO)
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spAgregarTurno]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE PROCEDURE [dbo].[spAgregarTurno]
        (
        @COD_TURNO_TUR VARCHAR(10),
        @DNI_PACIENTE_TUR CHAR(8),
        @LEGAJO_MED_TUR INT,
        @DIA_TURNOS VARCHAR(15),
		@HORA_TURNOS TIME(7),
		@ESPECIALIDAD VARCHAR(50)
        )
        AS
        INSERT INTO TURNOS(COD_TURNO_TUR, DNI_PACIENTE_TUR, LEGAJO_MED_TUR, DIA_TURNOS,HORA_TURNOS,ESPECIALIDAD)
        VALUES(@COD_TURNO_TUR, @DNI_PACIENTE_TUR, @LEGAJO_MED_TUR,  @DIA_TURNOS,@HORA_TURNOS,@ESPECIALIDAD)
        RETURN

GO
/****** Object:  StoredProcedure [dbo].[spAgregarUSUARIO]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarUSUARIO]
(
@ID_USUARIO INT,
@NOMBRE_USUARIO VARCHAR(50),
@CONTRASEÑA VARCHAR(50),
@TIPO_USUARIO VARCHAR(20)
)
AS
INSERT INTO USUARIO(ID_USUARIO,NOMBRE_USUARIO,CONTRASEÑA,TIPO_USUARIO) 
VALUES(@ID_USUARIO,@NOMBRE_USUARIO,@CONTRASEÑA,@TIPO_USUARIO)
RETURN
GO
/****** Object:  StoredProcedure [dbo].[spEliminarMEDICO]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarMEDICO]
(
    @ID_USUARIO_MEDICO INT
)
AS
BEGIN
    DELETE FROM MEDICOS
    WHERE ID_USUARIO_MEDICO = @ID_USUARIO_MEDICO;
END

GO
/****** Object:  StoredProcedure [dbo].[spEliminarPACIENTE]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEliminarPACIENTE]
(
@DNI_PACIENTE char(8)
)
AS 
BEGIN
	DELETE FROM PACIENTES
	WHERE DNI_PACIENTE = @DNI_PACIENTE;
END

GO
/****** Object:  StoredProcedure [dbo].[spEliminarTurnoPaciente]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEliminarTurnoPaciente]
    @DNI_PACIENTE_TUR CHAR(8)
AS
BEGIN
    DELETE FROM Turnos
    WHERE DNI_PACIENTE_TUR = @DNI_PACIENTE_TUR;
END;
GO
/****** Object:  StoredProcedure [dbo].[spEliminarUSUARIO]    Script Date: 1/12/2024 12:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spEliminarUSUARIO]
(
    @ID_USUARIO INT
)
AS
BEGIN
    DELETE FROM USUARIO
    WHERE ID_USUARIO = @ID_USUARIO;
END

GO
USE [master]
GO
